/*Now the CSS*/

* {
    margin: 0;
    padding: 0;
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: ''Poppins', sans-serif';
    background: #fafafa;
    overflow-y: hidden;
    overflow-x: hidden; 
}

td:hover {
    cursor: pointer;
}

.newResultRow {
    background-color: lightgreen !important;
}

.card {
    margin-bottom: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; /* 5px rounded corners */
}
.card-header {
    background-color: #666569;
    color: white;  
    font-size: large;
    border-radius: 15px; /* 5px rounded corners */
}

.selected {
    background-color: #78bcd1 !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    width: 30%;
    background: #525155;
    color: #fff;
    transition: all 0.3s;
    overflow-y: hidden;
    overflow-x: hidden; 
}

#sidebar.active {
    margin-left: -30%;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6eb1c5;
}

#sidebar .sidebar-footer {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #3f4446;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    height: 400px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    min-height: 100vh;
    transition: all 0.3s;
    overflow-x: hidden;
    overflow-y: visible;
}

/* ---------------------------------------------------
    MEDIAQUERIESg
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.list-group {
    max-height: 300px;
    overflow: scroll;
}

.list-group-item {
    cursor: pointer;
}

.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 200px;
}


.CodeMirror .readOnly {
    background-color: #ccccccc9;
    }


/* ---------------------------------------------------
    Transformation tree
----------------------------------------------------- */

.tree {
    padding-left: 25%;
    margin: 0 auto;
}

.tree ul {
    padding-top: 20px;
    float:center;
    position: relative;
    margin: 0 auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/

.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and 
right connector from last child*/

.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 2px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 30px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/

/*We will apply the hover effect the the lineage of the element also*/

.tree li a:hover {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
    cursor: pointer;
}


/*Connector styles on hover*/

.tree li a:hover {
    border-color: #94a0b4;
}

.currentQuery {
    background: #c8f8d0;
    color: #000;
    border: 1px solid #94a0b4;
    cursor: pointer;
}